@model DeliverLoad.Models.TreeViewNodeVM
@*@{Layout = null}*@
@*<div class="col-lg-2"></div>*@

@{
    var IsMobileBrowser = Request.Browser.IsMobileDevice;
}


<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Add Content

            </h3>

        </div>

        <div class="panel-body">

            <div class="col-md-12">
                @using (Html.BeginForm("CreateContent", "Vehicleowner", FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.Name)
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(model => model.Name)


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.Description)
                                </div>
                                <div class="col-md-6">
                                    @*<textarea class="ckeditor" id="Description" cols="2" rows="10" name="Description"></textarea>*@
                                    @*@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })*@

                                    @*@if (IsMobileBrowser)
                                    {
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control MobileBrowser" })
                                    }
                                    else
                                    {*@
                                        @Html.TextAreaFor(m => m.Description, new { @style = "width: 100%;margin: auto; padding: 50px;" })
                                    @*}*@

                                </div>
                                <div class="col-md-4">
                                    @*@Html.ValidationMessageFor(model => model.Description)*@


                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-success pull-right" id="btnSave">Save</button>

                                </div>

                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<style type="text/css">
    #cke_Description {
        width: 630px !important;
    }
</style>
@*<div class="col-lg-2"></div>*@