@model DeliverLoad.Models.CategoryModel

@{
    var IsMobileBrowser = Request.Browser.IsMobileDevice;
    bool Athentication = ViewBag.UserIdAuthenticate == null ? false : (bool)ViewBag.UserIdAuthenticate;
}

<style type="text/css">
    .field-validation-error {
        color: Red;
    }
</style>



<script type="text/javascript">
    $(function () {
        $(function () {

            $('#Description').redactor({
                imageUpload: '/Home/UploadImage',
                plugins: ['video']
            });
        });

    });
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @ViewBag.Title

            </h3>
        </div>

        <div class="panel-body">

            <div class="col-md-12">
                @using (Html.BeginForm("CreateOrEditCategory", "Vehicleowner", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "frmCategory" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdnAuthentication" value="@Athentication.ToString()" />

                    @Html.HiddenFor(model => model.CategoryId)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.LoadSpaceId)
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.LoadSpaceId, Model.LoadSpaceList as SelectList, "Select", htmlAttributes: new { @class = "form-control" })

                                    @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Write Channel Name" })*@
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.LoadSpaceId)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.Description)
                                </div>
                                <div class="col-md-7">
                                    @*@if (IsMobileBrowser)
                                        {
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control MobileBrowser", placeholder = "Write Channel Description", @style = "width:100%;" })
                                        }
                                        else
                                        {*@

                                    @*@Html.TextAreaFor(m => m.Description, new { @class = "ckeditor", placeholder = "Write Channel Description", @style = "width:100%;" })*@
                                    @Html.TextAreaFor(m => m.Description, new { placeholder = "Write Channel Description", @style = "width: 100%;margin: auto; padding: 50px;" })
                                    @*}*@
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.ImageUpload)
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })*@
                                    <input type="file" name="ImageUpload" id="ImageUpload">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.IsFreeChannel)
                                </div>
                                <div class="col-md-7">
                                    @Html.HiddenFor(m => m.IsFreeChannel)
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" id="lblYes">
                                            <input type="radio" name="Presenter" id="rdbYes" value="">Yes

                                        </label>
                                        <label class="btn btn-default" id="lblNo">
                                            <input type="radio" name="Participant" id="rdbNo" value="">No
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.Price)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Channel Price" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.PickupDate)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.PickupDate, new { @class = "form-control", placeholder = "Pick Up Date" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.PickupDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.PickupLocation)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.PickupLocation, new { @class = "form-control", placeholder = "Pick Up Location" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.PickupLocation)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.DropOffDate)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.DropOffDate, new { @class = "form-control", placeholder = "Drop Off Date" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.DropOffDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.DropOffLocation)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.DropOffLocation, new { @class = "form-control", placeholder = "Drop Off Location" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(model => model.DropOffLocation)
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group" id="TermsAndCondition">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-7">
                                        I have read and agree to the  <input type="checkbox" class="checkbox-inline checkbox" id="chkTerms" required data-val-required="You must agree to the terms and conditions." data-val="true" /><a id="lnkTerms" data-toggle="modal" data-target="#myModal" href="javascript:void(0);">Terms and Conditions</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    @*if (Model.CategoryId != null)
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.Image)
                                        </div>
                                        <div class="col-md-10">
                                            <img src="@Model.Image" style="width:50px;height:50px;" />

                                        </div>


                                    </div>
                                </div>
                            </div>
                        }*@

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">

                                <div id="saveButtons">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        @if (Model != null)
                                        {
                                            <button type="button" class="btn btn-info pull-right" id="btnUpdate">Update</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success pull-right" id="btnSave">Save</button>
                                        }

                                    </div>
                                </div>
                                <div id="TermsAndCondition">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label h3" style="color:red">Your account is not verified. Please verify your account with Paypal by clicking on the BUY button</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <img id="ibPayPal" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online!" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                <br />
                <form id="payForm" method="post" action="@ViewBag.URL">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="@System.Configuration.ConfigurationManager.AppSettings["BusinessEmail"]">
                    @*<input type="hidden" name="item_name" value="">*@
                    <input type="hidden" name="amount" value="0.01">
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="return" value="@System.Configuration.ConfigurationManager.AppSettings["ReturnUrlAccountConfirmation"]">
                    <input type="hidden" name="rm" value="@ViewBag.rm">
                    <input type="hidden" name="notify_url" value="@System.Configuration.ConfigurationManager.AppSettings["NotifyUrlAccountConfirmation"]">
                    <input type="hidden" name="cancel_return" value="@System.Configuration.ConfigurationManager.AppSettings["CancelPurchaseUrlAccountConfirmation"]">
                    <input type="hidden" name="currency_code" value="@System.Configuration.ConfigurationManager.AppSettings["CurrencyCode"]">
                    @*<input type="hidden" name="custom" value="@System.Configuration.ConfigurationManager.AppSettings["myKey"]">*@

                    @*<label class="col-md-3 control-label">Please Enter Recharge Amount:</label>
                        <div class="col-md-2">
                            <input type="text" id="amount" name="amount" class="form-control" placeholder="Enter Amount" />
                        </div>*@
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTerms" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalTerms">RIGHTS & CONTENT POLICY</h2>
            </div>
            <div class="Terms-body">

            </div>
            <div class="modal-footer">

                <label>I agree the terms and Conditions  <input type="checkbox" class="checkbox pull-left" id="chkTerms" /></label>
                <button type="button" class="btn btn-primary" onclick="ibPayPal_Click();">Proceed</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<div class="col-lg-2"></div>*@

<style type="text/css">
    #cke_Description {
        width: auto !important;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script type="text/javascript">

    $(document).ready(function () {
        $("#PickupDate").datepicker({ dateFormat: 'mm/dd/yy' });
        $("#DropOffDate").datepicker({ dateFormat: 'mm/dd/yy' });

        if ($("#PickupDate").val() != null && $("#PickupDate").val() != "") {
            var PickupDate = $("#PickupDate").val();
            $("#PickupDate").val(PickupDate.split(" ")[0]);
        }
        if ($("#DropOffDate").val() != null && $("#DropOffDate").val() != "") {
            var DropOffDate = $("#DropOffDate").val();
            $("#DropOffDate").val(DropOffDate.split(" ")[0]);
        }

        var isfree = $('#IsFreeChannel').val();
        var catId = $("#CategoryId").val();

        var Authentication = $('#hdnAuthentication').val();

        if (isfree == "true" || isfree == "True" || isfree == "") {
            $('#IsFreeChannel').val(true);
            $("#TermsAndCondition").hide();
            $("#lblYes").addClass("active");
            $("#Price").attr("disabled", "disabled");
            //if (Authentication == "" || Authentication == "True") {
            //    $("#TermsAndCondition").hide();
            //    $("#saveButtons").show();
            //}
            //else {
            //    $("#saveButtons").hide();
            //}
        }
        else {
            $("#lblNo").addClass("active");
            $("#Price").removeAttr("disabled");
            if (Authentication == "True") {
                //$("#TermsAndCondition").show();
                //$("#saveButtons").hide();
                $("#TermsAndCondition").hide();
                $("#saveButtons").show();
            }
            else {
                $("#saveButtons").hide();
            }

        }

        if (catId == "") {
            $("#lblYes").addClass("active");
            $('#IsFreeChannel').val(true);
            $("#Price").attr("disabled", "disabled");
            $("#TermsAndCondition").hide();
            $("#saveButtons").show();
        }

        $("#lblYes").click(function () {
            $('#IsFreeChannel').val(true);
            $("#Price").attr("disabled", "disabled");

            $("#TermsAndCondition").hide();
            $("#saveButtons").show();


        });

        $("#lblNo").click(function () {
            $('#IsFreeChannel').val(false);
            $("#Price").removeAttr("disabled");
            if (Authentication == "True") {
                $("#TermsAndCondition").hide();
                $("#saveButtons").show();
            }
            else {
                $("#TermsAndCondition").show();
                $("#saveButtons").hide();
            }

        });
    });

    $("#btnUpdate,#btnSave").click(function () {

        if ($('#IsFreeChannel').val() != "true" && $('#IsFreeChannel').val() != "True" && $('#IsFreeChannel').val() != "") {
            if ($("#Price").val() > 0) {
                $("#frmCategory").submit();
            } else {
                DisplayNotification("Channel price must not be zero!", 'error');
            }
        }
        else {
            $("#frmCategory").submit();
        }
    });


    //$('#lnkTerms').click(function () {
    //    $.ajax({
    //        url: '/Presenter/RightAndContentPolicy',
    //        type: 'Get',
    //        dataType: 'HTML',
    //        success: function (result) {
    //            $(".Terms-body").html(result);
    //            $('#myModal').modal('show')
    //        },
    //        error: function (data) {
    //            DisplayNotification('Error', 'error');
    //        }
    //    });
    //});

</script>


<script language="javascript">

    function ibPayPal_Click() {
        var IsAuthenticateUser = $('#hdnAuthentication').val();
        var amount = 0.01;
        if (amount != "" && amount != null) {
            if (isNaN(amount)) {
                DisplayNotification('The amount field must be number.', 'error');
            }
            else {
                if (IsAuthenticateUser == false) {
                    if ($('#chkTerms').is(':checked') == false) {
                        DisplayNotification("You must agree to the terms and conditions!", 'error');
                    }
                    else {
                        document.forms['payForm'].submit();
                    }
                }
                else {
                    document.forms['payForm'].submit();
                }
            }
        }
        else {
            DisplayNotification('Please enter amount.', 'error');
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tabControl a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    });
    $('#ibPayPal').click(function () {
        $.ajax({
            url: '/Vehicleowner/RightAndContentPolicy',
            type: 'Get',
            dataType: 'HTML',
            success: function (result) {
                $(".Terms-body").html(result);
                $('#myModal').modal('show');
            },
            error: function (data) {
                DisplayNotification('Error', 'error');
            }
        });
    });
</script>
