@using DeliverLoad;
@model IEnumerable<DeliverLoad.Models.UserModel>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Participant Details
        </h3>

    </div>

    <div class="panel-body">

        @if (Model.Any())
        {


        }
        else
        {
            var obj = DeliverLoad.Utils.Utils.GetDeliverLoadUser(WebSecurity.CurrentUserName);
            <text>There are no participants for this channel yet. Invite people to this channel by sharing your channel no :  @obj.ChannelNo</text>
            <br />
        }

        <p>Invite your friends here. (You can enter multiple email id's separated by comma)</p>

        <form class="navbar-form navbar" role="search">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSendInvite" placeholder="Enter email to invite">
                <span class="input-group-btn">
                    <button class="btn btn-success btnSendInvite" type="button">Invite</button>
                </span>
            </div>

        </form>
        <hr />
        <h2>Channel Participants</h2>

        <ul class="media-list">
            @foreach (var item in Model)
            {

                <li class="media">
                    <a class="pull-left" href="javascript:void(0);">
                        <img class="media-object thumbnail" src="@item.ProfilePicture" style="width:85px;height:85px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@item.FirstName @item.LastName</h4>
                        <p>Joined Date: @item.JoinDate.ToString("MM-dd-yyyy")</p>
                        <p>
                            @{
                var Isblocked = item.IsBlockedParticepant == false ? "Block" : "Unblock";
                            }
                            <input type="button" class="btn btn-danger btnBlockParticepent" data-userid="@item.UserId" data-userstatus="@item.IsBlockedParticepant" value="@Isblocked" />
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(".btnSendInvite").click(function () {
        var emailIds = $("#txtSendInvite").val();
        if (emailIds != "" && emailIds != null) {
            $.ajax({
                url: "/Home/SendInvites",
                type: "POST",
                data: { emailId: emailIds, channelName: $("#hdnChannelName").val(), channelNo: $("#hdnChannelNo").val() },
                dataType: "json",
                success: function (data) {
                    $("#txtSendInvite").val('');
                    DisplayNotification('Invitations sent.', 'success');
                },
                error: function (data) {
                    DisplayNotification(data.responseText, 'error');
                }
            });
        }
        else {
            DisplayNotification("Please enter email address", 'error');
        }
    });

    $(".btnDeleteParticepent").click(function () {

        @*<button class="btn btn-danger btnDeleteParticepent" data-userid="@item.UserId">Delete</button>*@
        var CategoryId = $("#CategoryId").val();
        var UserId = $(this).attr("data-UserId");

        if (confirm("Are you sure you want to delete  this Participant ?")) {
            $.ajax({
                url: "/Vehicleowner/DeleteParticepent",
                type: "POST",
                data: { CategoryId: CategoryId, UserId: UserId },
                dataType: "json",
                success: function (data) {
                    if (data == "1") {
                        DisplayNotification('Participant deleted successfully.', 'success');
                        window.location.href = window.location.href;
                    }
                    else if (data == "-1") {
                        DisplayNotification('No Participant found', 'error');
                    }
                    else {
                        DisplayNotification(data, 'error');
                    }
                },
                error: function (data) {
                    DisplayNotification(data.responseText, 'error');
                }
            });
        }
    });

    $(".btnBlockParticepent").click(function () {
        var $btn = $(this);
        var CategoryId = $("#CategoryId").val();
        var UserId = $(this).attr("data-UserId");
        var ParticepantStatus = $(this).attr("data-userstatus");
        var Userstatus = ParticepantStatus != "True" ? "Block" : "Unblock";


        if (confirm("Are you sure you want to " + Userstatus + "  this Particepant ?")) {
            $.ajax({
                url: "/Vehicleowner/BlockParticepent",
                type: "POST",
                data: { CategoryId: CategoryId, UserId: UserId, status: ParticepantStatus == "True" ? false : true },
                dataType: "json",
                success: function (data) {
                    if (data == "1") {
                        if (Userstatus == "Block") {
                            DisplayNotification('Participant blocked successfully.', 'success');
                            $btn.attr('value', 'UnBlock');
                            $btn.attr("data-userstatus", "True");
                        } else {
                            DisplayNotification('Participant unblocked successfully.', 'success');
                            $btn.attr('value', 'Block');
                            $btn.attr('data-userstatus', 'False');
                        }

                          //window.location.href = window.location.href;
                    }
                    else if (data == "-1") {
                        DisplayNotification('No Participant found', 'error');
                    } else {
                        DisplayNotification(data, 'error');
                    }
                },
                error: function (data) {
                    DisplayNotification(data.responseText, 'error');
                }
            });
        }
    });

</script>
