@{
    ViewBag.Title = "My Offers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using DeliverLoad;
@model List<DeliverLoad.Models.AcceptedLoadOffers>

<style type="text/css">
    .yellowColor {
        background-color: #e2db06 !important;
    }

    table, tr, td {
        border: 1px solid #e2db06 !important;
    }
</style>
<div id="divMyOffers">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover sortable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr class="yellowColor">
                        <th>Load Image</th>
                        <th>Load Name</th>
                        <th>Description</th>
                        <th>Pickup Date</th>
                        <th>Pickup Location</th>
                        <th>Drop of Date</th>
                        <th>Drop of Location</th>
                        <th>Load Price</th>
                        <th>LoadOwner Photo</th>
                        <th>LoadOwner Name</th>
                        <th>LoadOwner Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.orderSummuryModel.LoadImage" title="Category Image" class="thumbnail" style="height: 100px;width:100px" /></td>
                        <td>@Html.Raw(item.orderSummuryModel.LoadName)</td>
                        <td>@Html.Raw(item.orderSummuryModel.LoadDesc)</td>
                        <td>
                            @if (item.orderSummuryModel.LoadPickupDate != null)
                            {
                                var GetDateTime = item.orderSummuryModel.LoadPickupDate.ToString();
                                var GetDate = GetDateTime.Split(' ')[0];
                                @GetDate;
                            }

                        </td>
                        <td>@item.orderSummuryModel.LoadPickupLocation</td>
                        <td>
                            @if (item.orderSummuryModel.LoadDropOffDate != null)
                            {
                                var GetDateTime1 = item.orderSummuryModel.LoadDropOffDate.ToString();
                                var GetDate1 = GetDateTime1.Split(' ')[0];
                                @GetDate1;
                            }
                        </td>
                        <td>@item.orderSummuryModel.LoadDropOffLocation</td>
                        <td>@item.orderSummuryModel.LoadPrice</td>
                        <td><img class="media-object thumbnail" src="@item.orderSummuryModel.LoadOwnerProfileImage" alt="" style="width:100px;height:100px;"></td>
                        <td>@Html.Raw(item.orderSummuryModel.LoadOwnerFirstName) @Html.Raw(item.orderSummuryModel.LoadOwnerLastName)</td>
                        <td>@item.orderSummuryModel.LoadOwnerEmail</td>
                        <td>
                            @if (item.IsAcceptedByLoadOwner == true)
                            {
                                @*<input type="button" class="pull-right btn btn-theme" id="btnAccept" value="Proceed to payment" onclick="goTo('@Url.Action("OrderSummury", "OrderSummury", new { CategoryId = item.LoadId })')"  style="margin-left:5px;"/>*@

                                @*<input type="button" class="pull-right btn btn-theme" id="btnCancel" value="Cancel" onclick="goTo('@Url.Action("CancelAcceptedLoadDetail", "Vehicleowner", new { categoryId = item.LoadId })')" />*@

                                <label>Offer Accepted by Load Owner On @item.LoadOwnerAcceptedDate</label>
                            }
                            else
                            {
                                <input type="button" class="pull-right btn btn-theme" id="btnCancel" value="Cancel" onclick="CancelAcceptedLoadDetail(@item.LoadId)" />
                            }
                    </tr>
                }
            }
        </table>
    </div>
</div>


<script type="text/javascript">
    function CancelAcceptedLoadDetail(CategoryId) {
        if (CategoryId != null && CategoryId != "") {
            $.ajax({
                url: "/Vehicleowner/CancelAcceptedLoadDetail",
                type: "POST",
                data: { categoryId: CategoryId },
                dataType: "Json",
                success: function (data) {
                    if (data == true) {
                        DisplayNotification('Your accepted load offer removed successfully ', 'success');
                        BindOfferGrid();
                    }
                    else {
                        DisplayNotification('Error', 'error');
                    }
                },
                error: function (data) {
                    DisplayNotification('Error', 'error');
                }
            });
        }
    }

    function BindOfferGrid(){
        $.get("/Vehicleowner/MyOffers", null, function (data) {
            if (data != null) {
                var divMyoffers = $(data).find('#divMyOffers');
                if (divMyoffers != null) {
                    $("#divMyOffers").html(divMyoffers);
                }
            }
        });  
    }

</script>