@model DeliverLoad.Models.TreeViewNodeVM

@{
    ViewBag.Title = "Channel Details";
    // var IsMobileBrowser = Request.Browser.IsMobileDevice;
}
<script src="~/Scripts/jquery.fileupload.js"></script>
<input type="hidden" id="CategoryId" value="@ViewBag.CategoryId" />
<input type="hidden" id="hdnChannelName" value="@ViewBag.ChannelName" />
<input type="hidden" id="hdnChannelNo" value="@ViewBag.ChannelNo" />

<div class="box round">
    <div class="block">
        <div style="margin: 5px 0 15px 0;">
            <div id="tabs">
                <ul class="nav nav-tabs" id="tabControl">
                    <li class="active"><a href="#ParticipantList" id="ParticipantLink" data-toggle="tab">Participants</a></li>
                    <li><a href="#EditCategory" id="EditCategoryLink" data-toggle="tab">Edit</a></li>
                    <li><a href="#AddContent" id="AddContentLink" data-toggle="tab">Content</a></li>
                </ul>
                <div class="tab-content">

                    <div id="ParticipantList" class="tab-pane active" style="padding:10px;">
                        <div id="ParticipantsDetails">
                            @{Html.RenderAction("GetParticipantList", "Presenter", new { CategoryId = ViewBag.CategoryId });}
                        </div>

                    </div>
                    <div id="EditCategory" class="tab-pane " style="padding:10px;">

                        <div id="CategoryDetails">
                            @{Html.RenderAction("getCategoryDetail", "Presenter", new { CategoryId = ViewBag.CategoryId });}
                        </div>


                    </div>
                    <div id="AddContent" class="tab-pane " style="padding:10px;">

                        @{  var obj = DeliverLoad.Utils.Utils.GetCCCUser(WebSecurity.CurrentUserName);}
                        <input type="hidden" id="UserType" value="@obj.UserType" />
                        <div class="row">
                            <div class="col-md-3">
                                <div id="ContentDetails">
                                    @Html.Partial("_TreeView", Model)
                                </div>
                            </div>

                            <div class="col-md-9">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Content
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.Partial("_CreateOrEditContent")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">

    // var IsMobileBrowser = 'IsMobileBrowser';

    function intializejsTree() {
        $('#treeDemo').jstree({
            "plugins": ["contextmenu"]

        });

        $('#treeDemo').jstree('open_all');

        //$('#treeDemo').bind("deselect_node.jstree", function (evt, data) {
        //    var nodeid = data.node[0].id;

        //});

        $('#treeDemo').on("changed.jstree", function (e, data) {

            if (data.node == null || data.node == undefined) {
                return;
            }

            var NodeId = data.node[0].id;
            $('#NodeId').val(NodeId);

            var a = $('input[name=Add]:checked').val();

            if (a == "1") {
                resetForm();
            }
            else {

                var UserType = $('#UserType').val();
                var Title = data.node.context.text.trim();
                //var NodeId = data.node[0].id;
                // $('#NodeId').val(NodeId);
                if (UserType == "A") {

                    if (NodeId != 162) {

                        $('#ContentDescription').val('');

                        //$(".loading").show();

                        $.ajax({
                            url: '/TreeView/ContentDetails',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { NodeId: NodeId },
                            success: function (data) {

                                $('#Title').val(Title.trim());
                                if (data != "-1") {
                                    //if (IsMobileBrowser == 'True') {
                                    //    $('#ContentDescription').redactor('code.set', data);
                                    //    //$('#ContentDescription').val(data);
                                    //}
                                    //else {

                                    $('#ContentDescription').redactor('code.set', data);
                                    //CKEDITOR.instances['ContentDescription'].setData(data);
                                    //}

                                    //  $('#Description').val(data);
                                }
                                else {

                                    //if (IsMobileBrowser == 'True') {
                                    //    $('#ContentDescription').val('');
                                    //}
                                    //else {
                                    $('#ContentDescription').redactor('code.set', '');
                                    //  CKEDITOR.instances['ContentDescription'].setData('');
                                    //}


                                    //  CKEDITOR.instances['ContentDescription'].setData('');
                                    //  $('#Description').val('');
                                }

                                //$(".loading").hide();
                            },
                            error: function (data) {
                                //$(".loading").hide();
                                DisplayNotification('An error occurred while loading content details. Please try later', 'error');

                            }

                        });


                    }
                    else {
                        resetForm();
                    }
                }
                else {
                    //$(".loading").show();
                    if (NodeId != 162) {
                        $.ajax({
                            url: '/TreeView/ContentDescription',
                            type: 'GET',
                            dataType: 'HTML',
                            data: { NodeId: NodeId },
                            success: function (data) {
                                //$(".loading").hide();
                                $("#ContentComment").html('');
                                $("#ContentComment").append(data).trigger("create");
                            },
                            error: function (data) {
                                DisplayNotification('Error', 'error')
                            }
                        });
                    }
                    else {
                        //$(".loading").hide();
                        $("#ContentComment").html('');
                    }
                }
            }
        });
    }

    function Refreshjstree(ope) {
        var CategoryId = $('#CategoryId').val();

        $.ajax({
            url: '/TreeView/GetCategoryContentDetails',
            type: 'GET',
            dataType: "HTML",
            data: { CategoryId: CategoryId },
            success: function (data) {
                //$(".loading").hide();

                $("#ContentDetails").html(data);
                intializejsTree();

                if (ope == 'create') {
                    resetForm();
                    DisplayNotification('Content saved succesfully.', 'success');
                   // 
                }
                else if (ope == 'edit') {
                    DisplayNotification('You can not edit this content', 'error');
                   

                }
                else if (ope == 'cancel') {
                    $('#ParentId').val('');
                    $('#NodeId').val('');
                }
                else if (ope == 'delete') {
                    $('#NodeId').val('');
                    resetForm();
                    DisplayNotification('Content deleted Succesfully.', 'success');
                   // DisplayNotification('Video is under encoding process.You will get it shortly!', 'success');
                }
                else {
                    DisplayNotification('You can not delete this Node because it is already in use.');

                }
            },

            error: function (data) {
                DisplayNotification('Error', 'error');
            }
        });

    }

    //jsTree Events

    $(document).ready(function () {


        $.xhrPool = [];
        $.xhrPool.abortAll = function () {
            $(this).each(function (idx, jqXHR) {
                jqXHR.abort();
            });
            $.xhrPool = [];
        };



        $(function () {

            var UserType = $('#UserType').val();
            if (UserType == "A") {
                $('#Title').val('');

                $('#treeDemo').jstree({
                    "plugins": ["contextmenu"]

                });
            }
            else {

                $("#treeDemo").jstree({
                    "plugins": ["sort", "unique"]
                });

            }

        });
        $("#btnShowContentComments").hide();
        $("#btnSaveContent").show();
        $("#btnEditContent").hide();
        $("#btnDeleteContent").hide();
        $("#DivbtnAddComment").hide();
        $("#divChannelContentLink").hide();
        $("#lblAdd").trigger('click');

        $("#lblAdd").click(function () {
            $("#divChannelContentLink").hide();
            $("#btnSaveContent").show();
            $("#btnEditContent").hide();
            $("#btnDeleteContent").hide();
            $("#btnShowContentComments").hide();
            $("#DivbtnAddComment").hide();
            resetForm();
        });

        $("#lblEdit").click(function () {


            $("#btnSaveContent").hide();
            $("#btnEditContent").show();
            $("#btnDeleteContent").hide();


        });

        $("#lblDelete").click(function () {

            $("#btnSaveContent").hide();
            $("#btnEditContent").hide();
            $("#btnDeleteContent").show();
            $("#btnShowContentComments").hide();
            $("#DivbtnAddComment").hide();
            $("#divChannelContentLink").hide();

        });

        $('#treeDemo').on("create_node.jstree", function (e, data) {
            var id = data.parent[0].id;
            $('#ParentId').val(id);


        });

        $('#treeDemo').on("delete_node.jstree", function (e, data) {

            var NodeId = data.node[0].id;
            //$(".loading").show();
            if (confirm("Are you sure you want to delete this Node?") == true) {
                $.ajax({
                    url: '/TreeView/DeleteTreeNode',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { NodeId: NodeId },
                    success: function (data) {
                        if (data == "1") {
                            //$(".loading").hide();
                            DisplayNotification('Node Deleted Succesfully.', 'success');
                            resetForm();
                        }
                        else {
                            //  //$(".loading").hide();
                            Refreshjstree('nodelete');
                        }
                    },
                    error: function (data) {
                        DisplayNotification('Error', 'error')
                    }
                });
            }
            else {
                Refreshjstree('cancel');
            }
        });

        $('#treeDemo').on("rename_node.jstree", function (e, data) {

            var VideoFrom = $('#VideoFrom').val();
            var NodeId = data.node[0].id;
            var Name = data.title;
            var ParentId;
            var url;
            var Description = "";
            var VideoName = VideoFrom == 'A' ? $('#VideoName').val() : $('#txtYouTubeLinkShare').val();


            if (NodeId != null && NodeId != "") {

                url = '/TreeView/EditTreeNode';
                ParentId = NodeId;

            }

            else {
                url = '/TreeView/SaveTreeNode';
                ParentId = $('#ParentId').val();
            }

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'JSON',
                data: { CategoryId: $('#CategoryId').val(), ParentId: ParentId, Name: Name, Description: Description, VideoName: VideoName, VideoFrom: VideoFrom, IsTreeView: true },
                success: function (data) {
                    if (data == "1") {

                        Refreshjstree('create');

                    }
                    else if (data == "2") {
                        //$(".loading").hide();
                        DisplayNotification('Content updated succesfully.', 'success');

                    }
                    else if (data == "3") {
                        Refreshjstree('edit');

                    }
                    else {
                        //$(".loading").hide();
                        DisplayNotification('Error in saving node', 'error');

                    }
                },
                error: function (data) {
                    //$(".loading").hide();
                    DisplayNotification('Error', 'error')
                }
            });
        });

        $('#treeDemo').on("changed.jstree", function (e, data) {

            if (data.node == null || data.node == undefined) {
                return;
            }

            var NodeId = data.node[0].id;

            $('#NodeId').val(NodeId);


            var a = $('input[name=Add]:checked').val();

            if (a == "1") {

                resetForm();
            }
            else {

                var UserType = $('#UserType').val();
                var Title = data.node.context.text.trim();
                //var NodeId = data.node[0].id;
                // $('#NodeId').val(NodeId);
                if (UserType == "A") {

                    if (NodeId != 162) {

                        $('#ContentDescription').val('');

                        $.ajax({
                            url: '/TreeView/ContentDetails',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { NodeId: NodeId },
                            success: function (data) {
                                $("#btnShowContentComments").show();
                                $("#divChannelContentLink").show();

                                var a = "http://www.chitchatchannel.com/Channel/Content/" + NodeId + "/@ViewBag.UserName/" + Title.split(".").join("_");  // this is for online link
                                var b = "http://localhost:33872/Channel/Content/" + NodeId + "/@ViewBag.UserName/" + Title.split(".").join("_");  // this is for Local testing

                                $("#lnkContentLink").attr('href', a.split(" ").join("_"));
                                $("#txtContentLink").val(a.split(" ").join("_"));
                                var aa = a.split(" ").join("_");

                                $('#DivFbShare').attr("data-href", aa);
                                $('#Title').val(Title);

                                if (data != "-1") {
                                    //    if (IsMobileBrowser == 'True') {
                                    //        $('#ContentDescription').val(data);
                                    //    }
                                    //    else {

                                    $('#ContentDescription').redactor('code.set', data);
                                    //CKEDITOR.instances['ContentDescription'].setData(data);
                                    // }


                                    //  $('#Description').val(data);
                                }
                                else {
                                    //if (IsMobileBrowser == 'True') {
                                    //    $('#ContentDescription').val('');
                                    //}
                                    //else {
                                    $('#ContentDescription').redactor('code.set', '');
                                    //  CKEDITOR.instances['ContentDescription'].setData('');
                                    //  }
                                    //  $('#Description').val('');
                                }


                            },
                            error: function (data) {
                                $("#btnShowContentComments").hide();
                                DisplayNotification('Error', 'error');
                            }
                        });
                    }
                    else {
                        resetForm();
                    }
                }
                else {
                    //$(".loading").show();
                    if (NodeId != 162) {
                        $.ajax({
                            url: '/TreeView/ContentDescription',
                            type: 'GET',
                            dataType: 'HTML',
                            data: { NodeId: NodeId },
                            success: function (data) {
                                //$(".loading").hide();
                                $("#ContentComment").html('');
                                $("#ContentComment").append(data).trigger("create");


                            },
                            error: function (data) {
                                DisplayNotification('Error', 'error');

                            }

                        });

                    }
                    else {
                        //$(".loading").hide();
                        $("#ContentComment").html('');
                    }

                }

            }



        });

        $('#btnSaveContent').click(function () {

            var ParentId = $('#NodeId').val();

            if (ParentId != "") {

                if ($("#contentform").validate().form()) {
                    var VideoFrom = $('#VideoFrom').val();

                    var form_data = new FormData();
                    form_data.append("CategoryId", $('#CategoryId').val());
                    form_data.append("ParentId", ParentId);
                    form_data.append("Name", $('#Title').val());
                    form_data.append("Description", $('#ContentDescription').val());


                    form_data.append("VedioLink", VideoFrom == 'A' ? $('#VideoName').val() : $('#txtYouTubeLinkShare').val());
                    var file_data = $("#contentImage").prop("files")[0];   // Getting the properties of file from file field

                    form_data.append("File", file_data);
                    form_data.append("VideoFrom", VideoFrom);
                    form_data.append("IsTreeView", false);

                    $.ajax({
                        url: '/TreeView/SaveTreeNode',
                        type: 'POST',
                        dataType: 'JSON',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        success: function (data) {

                            if ($.isNumeric(data) == true) {
                                $("#hdnContentId").val(data);

                             
                                $("#divChannelContentLink").show();
                                ////////http://localhost:33872/Channel/Content/325/bhavesh.1/Channel207
                                var UserName = '@ViewBag.UserName';

                                var a = "http://www.chitchatchannel.com/Channel/Content/" + data + "/" + UserName.split(".").join("_") + "/" + $('#Title').val().split(".").join("_");  // this is for online link
                                var b = "http://localhost:33872/Channel/Content/" + data + "/" + UserName.split(".").join("_") + "/" + $('#Title').val().split(".").join("_");  // this is for Local testing

                                $("#lnkContentLink").attr('href', a.split(" ").join("_"));
                                $("#txtContentLink").val(a.split(" ").join("_"));
                                var aa = a.split(" ").join("_");

                                $('#DivFbShare').attr("data-href", aa);
                                Refreshjstree('create');
                                $("#uploadButton").click();
                            }
                            else {
                                //$(".loading").hide();
                                DisplayNotification('Error in saving node', 'error');

                            }
                        },
                        error: function (data) {
                            //$(".loading").hide();
                            DisplayNotification('Error', 'error');

                        }

                    });
                }
            }
            else {
                DisplayNotification('Please select parent node from tree.', 'error');
            }
        });

        $('#btnEditContent').click(function () {



            var nodeid = $('#NodeId').val();

            if (nodeid) {
                if ($("#contentform").validate().form()) {
                    var VideoFrom = $('#VideoFrom').val();
                    var form_data = new FormData();

                    form_data.append("CategoryId", $('#CategoryId').val());
                    form_data.append("NodeId", $('#NodeId').val());
                    form_data.append("Title", $('#Title').val());
                    //form_data.append("Description", $('#Description').val());

                    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                        form_data.append("Description", $('#ContentDescription').val());
                    }
                    else {
                        form_data.append("Description", $('#ContentDescription').val());
                    }
                  
                    $("#hdnContentId").val(nodeid);

                    form_data.append("VideoName", VideoFrom == 'A' ? $('#VideoName').val() : $('#txtYouTubeLinkShare').val());

                    var file_data = $("#contentImage").prop("files")[0];   // Getting the properties of file from file field
                    form_data.append("File", file_data);
                    form_data.append("VideoFrom", VideoFrom);

                    $.ajax({
                        url: "/TreeView/CreateOrEditContent",
                        type: "POST",
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "Json",
                        success: function (data) {
                            //$(".loading").hide();
                            if (data == "2") {
                                DisplayNotification('Content updated succesfully.', 'success');
                                //DisplayNotification('data', 'success');
                                // Refreshjstree('create');
                                resetForm();

                                $("#uploadButton").click(); 
                            }
                            else {
                                DisplayNotification('data', 'success');

                            }
                        },
                        error: function (data) {
                            DisplayNotification('Error', 'error');
                        }
                    });
                }

            }
            else {
                DisplayNotification('Please select node from tree.', 'error')
            }
        });

        $('#btnDeleteContent').click(function () {

            var NodeId = $('#NodeId').val();

            if (NodeId != "") {
                //$(".loading").show();
                if (confirm("Are you sure you want to delete this node?") == true) {
                    $.ajax({
                        url: '/TreeView/DeleteTreeNode',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { NodeId: NodeId },
                        success: function (data) {
                            if (data == "1") {
                                ////$(".loading").hide();
                                //$('#treeDemo').jstree({
                                //    "plugins": ["contextmenu"]

                                //}).refresh();
                                Refreshjstree('delete');

                            }
                            else {

                                //  //$(".loading").hide();
                                Refreshjstree('nodelete');

                            }
                        },
                        error: function (data) {
                            DisplayNotification('Error', 'error');
                        }
                    });
                }
                else {

                    Refreshjstree('cancel');
                }

            }
            else {
                DisplayNotification('Please select node from tree.', 'error');
            }
        });

        $('#btnShowContentComments').click(function () {
            $("#DivbtnAddComment").show();
            var NodeId = $('#NodeId').val();
            if (NodeId != "") {
                $.ajax({
                    url: '/TreeView/TreeNodeComments',
                    type: 'Get',
                    dataType: 'HTML',
                    data: { NodeId: NodeId },
                    success: function (result) {
                        $("#PresenterComments").html();
                    },
                    error: function (data) {
                        DisplayNotification('Error', 'error');
                    }
                });
            }
        });
    });




    $('#BtnComments').click(function () {
        var id = $('#NodeId').val();
        var Comment = $('#txtComment').val();
        if (Comment != "") {


            $.ajax({
                url: '/TreeView/SaveCommentPresenter',
                type: 'GET',
                dataType: 'HTML',
                data: { NodeId: $('#NodeId').val(), Comment: Comment },
                success: function (data) {
                    $('#txtComment').val('');
                    //$(".loading").hide();
                    $("#BtnClose").click();
                    $("#PresenterComments").html('');
                    $("#PresenterComments").append(data).trigger("create");
                },
                error: function (data) {
                    DisplayNotification('Error', 'error');

                }

            });
        }
        else {
            DisplayNotification('Please enter comment.', 'error');
        }

    });

    $("#PresenterComments").delegate(".DeleteComment", "click", function () {

        var $btn = $(this);
        var UserId = $(this).attr("data-userid");
        var CommentId = $(this).attr("data-commentid");


        if (confirm("Are you sure you want to delete  this comment ?")) {
            $.ajax({
                url: "/Presenter/DeleteCommentPresenter",
                type: "POST",
                data: { UserId: UserId, CommentId: CommentId },
                dataType: "json",
                success: function (data) {
                    if (data == "1") {
                        DisplayNotification('Comment deleted successfully.', 'success');
                        $btn.parent('div').parent('div.CommentParentDiv').remove();
                    }
                    else if (data == "-1") {
                        DisplayNotification('No Comment found', 'error');
                    } else {
                        DisplayNotification(data, 'error');
                    }
                },
                error: function (data) {
                    DisplayNotification(data.responseText, 'error');
                }
            });
        }
    });

    $("#ParticipantLink").trigger('click');

    window.reset = function (e) {
        e.wrap('<form>').closest('form').get(0).reset();
        e.unwrap();
    }

    function resetForm() {
        $('#Title').val('');

        // $('#ContentDescription').val('');
        $('#VideoName').val('');
        $('#ContentDescription').redactor('code.set', '');

        //if (IsMobileBrowser == 'True') {
        //    var editor = $('#ContentDescription');
        //    reset($("#contentVideo"))
        //    reset($("#contentImage"));
        //    return;
        //}
        //else {
        //   // var editor = CKEDITOR.instances['ContentDescription'];
        //    //var editor = $('#ContentDescription').val();
        //    // $('.redactor_editor').html('');
        //    //$('parent-container-selector').find('.redactor_editor').html('');

        //    $('#ContentDescription').redactor('code.set', '');
        //}

        //if (editor != null || editor != undefined) {
        //    editor.setData('');
        //}

        reset($("#contentVideo"))
        reset($("#contentImage"));
    }




</script>
<script>

    // Azure Video upload
    $('#contentVideo').fileupload({
        autoUpload: false,
        replaceFileInput: false,
        maxChunkSize: 1111111111,
        acceptFileTypes: /(mp4)|(MP4)|(webm)|(WEBM)|(flv)$/i,
        dataType: 'json',
        url: '/Presenter/UploadFile?storagetype=Azure&ContentId=' + $("#hdnContentId").val(),
        add: function (e, data) {

            $("#uploadButton").on("click", function () {
              
                data.url = '/Presenter/UploadFile?storagetype=Azure&ContentId=' + $("#hdnContentId").val();
                var uploadErrors = [];
                // var acceptFileTypes = /(mp4)|(MP4)|(MPEG-4)|(MOV)|(mov)|(M4V)|(QuickTime)|(quicktime)|(webm)|(WEBM)|(flv)$/i;
                var acceptFileTypes = /(mp4)|(MP4)|(webm)|(WEBM)|(flv)$/i;
                if (data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    DisplayNotification('You uploaded an invalid file.Supported Format are MP4, WEBM,FLV.', 'error');
                    return
                }
                if (data.originalFiles[0]['size'] > 1111111111) {

                    DisplayNotification('Size exceeds the maximum allowed size (1GB)', 'error');
                    return
                }
                var ResltData = '';
                var ResultType = '';
                warnMessage = "Your Video is Uploading."
                $("#btnEditContent").attr('disabled', true);
                $("#btnSaveContent").attr('disabled', true);

                document.cookie = "VideoUpload=true";//this cookie is used for show message when user leave page when video is uploading.
                data.submit();


            });



        },
        beforeSend: function (jqXHR) {
            $.xhrPool.push(jqXHR);
        },
        done: function (e, data) {
            var result = "";
           
            DisplayNotification('Video has been uploaded and sent for encoding. You will be notified by email when done', 'success');

            $.each(data.result, function (index, status) {
                $('#progressBarVideo .progress-bar').css('width', '100%');
                $('#progressBarVideo').hide();
                //$('#DivVideoPreview').html(data.result[index].fullpath);
                //$('#VideoPreviewSource').attr('src', data.result[index].fullPath);
                //var video = document.getElementsByTagName('video')[0];
                //video.load();


                $('#VideoName').val(data.result[index].fullPath);
                document.cookie = "VideoUpload=false";
                $("#btnEditContent").attr('disabled', false);
                $("#btnSaveContent").attr('disabled', false);

                //  DisplayNotification('File has been uploaded.', 'success')

            });
            if ($.xhrPool.length > 0) {


            }
            $.xhrPool = [];
        },
        progressall: function (e, data) {

            $('#progressBarVideo').show();
            var psevdoincompleate = 10;
            var persentage = (data.loaded / data.total * 100 - psevdoincompleate).toFixed(2);
            var progress = parseInt(persentage, 10);
            var bitrate = (data.bitrate / 8 / 1024).toFixed(1);
            var loaded = (data.loaded / 1024 / 1024 - data.loaded / 1024 / 1024 / psevdoincompleate).toFixed(2);
            var total = (data.total / 1024 / 1024).toFixed(2);

            $('#progressBarVideo .progress-bar').css('width', progress + '%');
            $('#progressBarVideo .progress-bar').text(bitrate.toString() + ' kbps | ' + persentage + '% | ' + loaded + 'Mb/' + total + 'Mb');


        },
        error: function (jqXHR, textStatus, errorThrown) {

            if (errorThrown === 'abort') {
                jqXHR.abort();

                $("#btnEditContent").attr('disabled', false);
                $("#btnSaveContent").attr('disabled', false);
                document.cookie = "VideoUpload=false";//this cookie is used for show message when user leave page when video is uploading.
            }
            else {
                DisplayNotification('There is some problem. Reload the page and try again.', 'error');
            }
        }

    });

</script>