@model IEnumerable<DeliverLoad.Models.User>

@{
    ViewBag.Title = "User List";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            User List
        </h3>
    </div>

    <div class="panel-body">
        @if (Model.Any())
        {
            <table class="table table-responsive datatable">
                <tr class="odd">
                    <th>
                        User Name
                    </th>
                    <th>
                        Email Id
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Channel No.
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Varification Status
                    </th>
                    <th>

                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FirstName  @item.LastName
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.EmailID)
                        </td>
                        <td>
                            @if (item.UserType == "A")
                            {
                                <label>Presenter</label>}
                            else
                            {
                                <label>Participant</label>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Balance)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ChannelNo)
                        </td>
                        <td>
                            @if (item.isSuspended == true)
                            {
                                <img src="~/Content/images/red_ball.png" height="20" width="20" class="ClsBlock" data-issuspended="@item.isSuspended" data-userid="@item.UserId" style="cursor:pointer" />
                            }
                            else
                            {
                                <img src="~/Content/images/green_ball.png" height="20" width="20" class="ClsBlock" data-issuspended="@item.isSuspended" data-userid="@item.UserId" style="cursor:pointer" />
                            }
                        </td>
                        <td>
                            @if (item.IsAuthenticated == true)
                            {
                                <label class="IsVarefied">Verified</label>
                            }
                            else
                            {
                                <label class="IsVarefied">Not Verified</label>
                            }
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="glyphicon glyphicon-remove-circle DeleteUser" data-userid="@item.UserId" style="text-decoration :none" title="Delete"></a>
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <text>No Users available.</text>
        }
    </div>
</div>
<script>

    $(".ClsBlock").click(function () {

        var img = $(this);
        var UserId = $(this).attr("data-userid");
        var SuspendedStatus = $(this).attr("data-IsSuspended");

        
        $.ajax({
            url: '/Presenter/BlockUser',
            type: 'POST',
            dataType: 'JSON',
            data: { UserId: UserId, Status: SuspendedStatus },
            success: function (data) {
                if (data == "1") {
                    if (SuspendedStatus == "True") {
                        $(img).attr("src", "../Content/images/green_ball.png");
                        $(img).attr("data-IsSuspended", "False");
                        DisplayNotification('User successfully Unbloked ', 'success');
                    }
                    else {
                        $(img).attr("src", "../Content/images/red_ball.png");
                        $(img).attr("data-IsSuspended", "True");
                        DisplayNotification('User successfully Bloked', 'success');
                    }
                }
                else if (data == "-1") {
                    DisplayNotification('No Comment found', 'error');
                } else {
                    DisplayNotification(data, 'error');
                }
            },
            error: function (data) {
                DisplayNotification('There is some provblam, Please try again', 'error');
            }
        });
    });


    $(".DeleteUser").click(function () {
        var $btn = $(this);
        var UserId = $(this).attr("data-userid");

        if (confirm("Are you sure you want to delete this user?")) {
            $.ajax({
                url: '/Presenter/DeleteUser',
                type: 'POST',
                dataType: 'JSON',
                data: { UserId: UserId },
                success: function (data) {
                    $($btn).parent('td').parent('tr').remove();
                    DisplayNotification('User successfully Deleted', 'success');
                },
                error: function (data) {
                    DisplayNotification('There is some provblam, Please try again', 'error');
                }
            });
        }
    });


</script>
@*<style>
        .ClsBlocked {
            background: url('../Content/images/ball_redS.gif');
            display: block;
        }

        .ClsBlock {
            background: url('../Content/images/ball_greenS.gif');
            display: block;
        }
    </style>*@