    @model DeliverLoad.Models.LoginModel


<style type="text/css">
    .field-validation-error {
        color: Red;
        font-size: 16px;
    }
</style>



<ul class="cb-slideshow">
    <li>
        <span>Image 01</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
    <li>
        <span>Image 02</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
    <li>
        <span>Image 03</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
    <li>
        <span>Image 04</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
    <li>
        <span>Image 05</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
    <li>
        <span>Image 06</span>
        <!--<div>
          <h3></h3>
        </div>-->
        <!--Put Heading If you want to cahnge heading with Slider-->
    </li>
</ul>


<!--=====Page Start====-->
<div class="page">
    <div class="Social_icons">
        <ul>
            <li><a href="https://www.facebook.com/pages/Chit-Chat-Channel/244650702405948"><img src="~/Content/images/facebook.png" /></a></li>
            <li><a href="#"><img src="~/Content/images/twitter.png" /></a></li>
        </ul>
    </div>
    <div class="heading_message">
        <div class="wraper">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ViewBag.ReturnUrl }))
            {
                <div class="logo">
                    @*<img src="~/Content/images/logo2.png" />*@
                    <img src="~/Content/images/logo.png" style="height:50px;margin-top:5px" />
                </div>


                @Html.AntiForgeryToken()

                @Html.TextBoxFor(m => m.LoginUserName, new { placeholder = "Your email." })
                @Html.TextBoxFor(m => m.LoginPassword, new { type = "password", placeholder = "Your Password." })

                @*<input type="text" id="LoginUserName" name="LoginUserName" placeholder="Your email." />
                    <input type="password" id="LoginPassword" name="LoginPassword" placeholder="Your Password." />*@
                <input type="submit" name="Login" value="Login" id="get" />
                if (Request.Form.AllKeys.Contains("Login"))
                {
                    @Html.ValidationSummary()
                }


            }

            <div class="forget">
                <a class="fancybox" href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
            </div>
        </div>
    </div>

    <div class="wraper">
        <div class="box1">
            <div class="advertisement">

            </div>
            <div class="register">
                <div class="form_wraper">
                    <div class="title">
                        <h2>Register</h2>
                    </div>
                    <p>Social Network where you ‎keep channels for your Books, Art, Music, Lectures, Opinion, Talk or Reality Show series - then set your price for such unique content while interacting with participants;  or simply have a blast chatting and viewing unique and sometimes free content others provide.</p>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()

                        if (Request.Form.AllKeys.Contains("Register"))
                        {
                            @Html.ValidationSummary()
                        }
                        <div class="Email">
                            @*<input type="text" id="FirstName" name="FirstName" placeholder="First Name" />*@
                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })

                        </div>

                        <div class="city">
                            @*<input type="text" id="LastName" name="LastName" placeholder="Last Name" />*@
                            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })

                        </div>
                        
                        <div class="city">
                            @*<input type="text" id="UserName" name="UserName" placeholder="Email" />*@
                            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email Address" })

                        </div>
                        
                        <div class="city">
                            @*<input type="password" id="Password" name="Password" placeholder="Your Password." />*@
                            @Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Your Password." })
                            @Html.ValidationMessageFor(m => m.Password)

                        </div>
                        <div class="submit_button">
                            <input type="submit" name="Register" value="Register" id="btnRegister" />
                            <img src="~/Images/ajax-loader.gif" class="AjaxLoaderRegister" style="display:none" />
                        </div>
                    }
                    @*@Html.Partial("_Register")*@

                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="footer">
            <div class="social_icons">
                <ul>
                    <li><a class="fancybox_3" href="/Home/Faq">FAQ</a></li>
                    <li><a class="fancybox_2" href="/Home/Contact">Contact</a></li>

                </ul>
                <p>©GoGagga 2015</p>
            </div>
            <div class="Social_icons_2">
                <ul>
                    <li><a href="#"><img src="~/Content/images/facebook.png" /></a></li>
                    <li><a href="#"><img src="~/Content/images/twitter.png" /></a></li>
                </ul>
            </div>
            <div class="footer_form_main">
                <p>Get alerts on exciting channels</p>
                @using (Ajax.BeginForm("Subscription", "Account", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "SaveSuccessSubscription", OnFailure = "SaveFailureSubscription" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="footer_form">
                        <img src="~/Images/ajax-loader.gif" class="AjaxLoader" style="display:none" />
                        @Html.TextBoxFor(m => m.SubscriptionMailId, new { placeholder = "Email" })
                        <input type="submit" value="Submit" id="btnSubmitSubscription" />
                       
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    function SaveSuccessSubscription(result) {
        $('#SubscriptionMailId').val('');
        //    alert('Your Email is successfully saved. You will begin to receive alerts on exciting channels shortly.');
        DisplayNotification('Your Email is successfully saved. You will begin to receive alerts on exciting channels shortly.', 'success');
        $(".AjaxLoader").hide();
    }

    function SaveFailureSubscription(result) {
        //  alert('Please enter an Email address.');
        DisplayNotification('Please enter an Email address.', 'error');
        $(".AjaxLoader").hide();
    }


    $(document).ready(function () {
        $(".fancybox").fancybox({
            type: "iframe",
            width: 350, // or whatever
            height: 250
        });
        $(".fancybox_2").fancybox({
            type: "iframe",
            width: 350, // or whatever
            height: 500
        });
        $(".fancybox_3").fancybox({
            type: "iframe",
        });
    });

    function DisplayNotification(returnvalue, status) {
        
        if (returnvalue != null) {
            if (status == "success") {
                toastr.success(returnvalue);
            }
            else if (status == "error") {
                toastr.error(returnvalue);
            }
        }
    }

    $("#btnSubmitSubscription").click(function () {
        $(".AjaxLoader").show();
    });

    //$(document).ajaxStart(function () {
    //    $("input[type='submit']").click(function () {
    //        var $this = $(this);
    //        $this.attr('disabled', true);
    //        setTimeout(function () {
    //            $this.prop('disabled', false);
    //        }, 3000);
    //    });
    //});

    $(document).ajaxComplete(function () {
        $("#wait").css("display", "none");
    });

    $("#btnRegister").click(function () {
        $(".AjaxLoaderRegister").show();
    });

</script>










