@model DeliverLoad.Models.TreeViewNodeVM

@{
    var IsMobileBrowser = Request.Browser.IsMobileDevice;
}

<style type="text/css">
    .field-validation-error {
        color: Red;
    }
</style>

<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>

@using (Html.BeginForm("CreateOrEditContent", "TreeView", FormMethod.Post, new { role = "form", id = "contentform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NodeId)
    @Html.HiddenFor(model => model.CategoryId)
    @Html.HiddenFor(model => model.VideoName, new { @id = "VideoName" })
    @Html.HiddenFor(model => Model.VideoFrom)

    <div class="form-group">
        <div class="row">

            <div class="col-lg-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-7">

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="lblAdd">
                            <input type="radio" name="Add" id="rdbAdd" value="1">Add

                        </label>
                        <label class="btn btn-default" id="lblEdit">
                            <input type="radio" name="Add" id="rdbEdit" value="2">Edit
                        </label>
                        <label class="btn btn-default" id="lblDelete">
                            <input type="radio" name="Add" id="rdbDelete" value="3">Delete
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-lg-12">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Name, new { @class = "Control-label" })
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Write Content Title", id = "Title" })
                </div>

                <div class="col-md-3">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <label class="control-label"> Upload Image</label>
                </div>
                <div class="col-md-7">
                    <input type="file" id="contentImage" />
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <label class="control-label"> Video</label>
                </div>
                <div class="col-md-7">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="lblUploadVideo">
                            <input type="radio" name="Add" id="rdbUploadVideo" value="1">Upload Video
                        </label>
                        <label class="btn btn-default" id="lblShareLink">
                            <input type="radio" name="Add" id="rdbShareLink" value="2">Share Link
                        </label>
                    </div>
                </div>
                @*<div class="col-md-3">
                    <form action="@Url.Action("UploadFile", "Exercise", new {id = Model.NodeId})" class="dropzone" id="my-awesome-dropzone"></form>
                </div>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-7" id="DivLinkShare">
                    <input type="file" id="contentVideo" />
                </div>
                <div class="col-md-7" id="DivLinkYouTube">
                    <input type="text" placeholder="Paste a link here" class="form-control" id="txtYouTubeLinkShare" />
                </div>
            </div>
        </div>
    </div>
    <div class="progress" id="progressBarVideo" style="display: none">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.ContentDescription)

                </div>
                <div class="col-md-7">
                   
                        @*@Html.TextAreaFor(m => m.ContentDescription, new { id = "ContentDescription", @class = "ckeditor", placeholder = "Write Content Description", @Style = "width:100%!important" })*@
                        @Html.TextAreaFor(m => m.ContentDescription, new { id = "ContentDescription", placeholder = "Write Content Description", @style = "width: 100%;margin: auto; padding: 50px;" })
                 
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(model => model.ContentDescription)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" id="divChannelContentLink">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <label class="control-label">Link to Share </label>
                </div>
                <div class="col-md-7">
                    <input type="text" value="" class="form-control" id="txtContentLink" />
                    <br />

                </div>
                <div class="col-lg-3">
                    <a href="" id="lnkContentLink" class="btn btn-default" target="_blank">Show Content</a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-7">
                <a class="facebook" id="facebook" data-original-title="facebook" onclick="socialShare('facebook');" href="#"><img src="~/Content/images/facebook.png" /></a>
            </div>

        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success pull-right" id="btnSaveContent">Save</button>
                    <button type="button" class="btn btn-success pull-right" id="btnEditContent">Edit</button>
                    <button type="button" class="btn btn-success pull-right" id="btnDeleteContent">Delete</button>
                    <button type="button" class="btn btn-success pull-left" id="btnShowContentComments">Show Comments</button>
                    <button type="button" class="btn btn-success pull-left" id="uploadButton" style="visibility:hidden"></button>
                    <input type="hidden" value=""  id="hdnContentId"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-10">
                <div id="PresenterComments">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="col-md-2" id="DivbtnAddComment">
                    <input type="hidden" id="NodeId" value="@Model.NodeId" />
                    <a href="javascript:void(0)" class="Comment btn btn-default" data-toggle="modal" data-target="#myModalComment">Add Comment</a>

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_AddOrEditComment")


}
<div>

</div>
<script>

    $(function () {
      
        $('#ContentDescription').redactor({
            imageUpload: '/Home/UploadImage',
            plugins: ['video']
        });
    });


    function socialShare(network) {
        var url = "";
        var str = $('#txtContentLink').val();
        if (network == "facebook") {
            url = "http://www.facebook.com/share.php?u=" + str;
        }
        window.open(url, "_blank", "width=400, height=500,top=100, left=500");
    }

    $(document).ready(function () {
        var VideoFrom = '@Model.VideoFrom';


        if (VideoFrom == '' || VideoFrom == null) {
            VideoFrom = 'A';
        }
        $('#VideoFrom').val(VideoFrom);
        if (VideoFrom == "A") {
            $("#lblUploadVideo").addClass("active");
            $('#DivLinkYouTube').hide();
        }
        else {
            $("#lblShareLink").addClass("active");
            $('#DivLinkShare').hide();
        }

        $('#lblUploadVideo').click(function () {
            $('#VideoFrom').val('A');
            jQuery('#DivLinkShare').toggle('show');
            jQuery('#DivLinkYouTube').toggle('hide');
        });

        $('#lblShareLink').click(function () {
            $('#VideoFrom').val('Y');
            jQuery('#DivLinkYouTube').toggle('show');
            jQuery('#DivLinkShare').toggle('hide');
        });



        //jQuery('#hideshow').live('click', function (event) {
        //    jQuery('#content').toggle('show');
        //    jQuery('#content1').toggle('show');
        //});

    });



</script>
<style type="text/css">
    #cke_Description {
        width: auto !important;
    }
</style>


