@model DeliverLoad.Models.RegisterModel

<style>
    .field-validation-error {
        font-size: 12px;
    }
</style>
<!-- Modal -->
<div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-body registration">

            @*new AjaxOptions { HttpMethod = "POST", OnComplete = "RegisterComplete" }*@
            @using (Html.BeginForm("Register", "Account", new { id = "registrationform" }))
    {
        @Html.AntiForgeryToken()

        <div class="logo text-center w-100">
            <img src="~/Content/images/logo.png" style="height:50px;margin-top:5px" />
        </div>
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)

        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)

        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)

        @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone Number", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)

        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
        <div class="text-center">
            <input type="submit" name="submit" value="Register" id="get" class="btn btn-theme mt-15" />
        </div>

        <div class="text-danger" id="registererror"></div>
}
        </div>
    </div>
</div>
<style type="text/css">
    .btnRegister {
        font-size: 30px;
        color: #ffffff;
        background: #be4932;
        cursor: pointer;
        padding: 4% 24%;
        border-radius: 30px;
        border: none;
    }
</style>


<script>
    function RegisterComplete(e) {
        var response = JSON.parse(e.responseText);
        if (!response.Success) {
            $('#registererror').html(response.Message);
        }
        else {
            $('#registerModal').modal("hide");
            window.location.href = '@Url.Action("PhoneVerification", "Account")';
        }
    }
</script>
