@{
    ViewBag.Title = "MyWatchList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@using DeliverLoad;
@model IEnumerable<DeliverLoad.Models.CategoryModel>

@{  var obj = DeliverLoad.Utils.Utils.GetDeliverLoadUser(WebSecurity.CurrentUserName);}

@*@Html.Partial("_CategoryList")*@
<style type="text/css">
    .yellowColor {
        background-color: #e2db06 !important;
    }

    table, tr, td {
        border: 1px solid #e2db06 !important;
    }
</style>
<div style="text-align:center"><h2>My Watch List</h2></div>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="yellowColor">
                    <th>Pic Profile</th>
                    <th>Name</th>
                    <th>Load#</th>
                    <th>Pickup Date</th>
                    <th>Pickup Location</th>
                    <th>Drop of Date</th>
                    <th>Drop of Location</th>
                    <th>Space Type</th>
                    <th>Comments</th>
                    <th>Vehicle Image</th>
                    <th>Rating</th>
                    <th>Price Offered</th>
                    
                </tr>
            </thead>
            foreach (var item in Model)
            {
               
                    <tr>
                        <td class="clsGoto" data-categoryid="@item.CategoryId"><img src="@item.ProfileImage" title="Category Image" class="thumbnail" style="height: 100px;width:100px" /></td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@Html.Raw(item.FirstName)  @Html.Raw(item.LastName)</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@item.ChannelNo</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">
                            @if (item.PickupDate != null)
                            {
                                var GetDateTime = item.PickupDate.ToString();
                                var GetDate = GetDateTime.Split(' ')[0];
                                @GetDate;
                            }

                        </td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@item.PickupLocation</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">
                            @if (item.DropOffDate != null)
                            {
                                var GetDateTime1 = item.DropOffDate.ToString();
                                var GetDate1 = GetDateTime1.Split(' ')[0];
                                @GetDate1;
                            }
                        </td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@item.DropOffLocation</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@item.LoadSpaceTitle</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">@Html.Raw(item.Description)</td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId"><img class="media-object thumbnail" src="@item.Image" alt="" style="width:100px;height:100px;"></td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">
                            @if (item.IsFreeChannel)
                            {
                                <p>Free Channel</p>

                            }


                        </td>
                        <td class="clsGoto" data-categoryid="@item.CategoryId">$@item.Price</td>
                        

                    </tr>
                
            }
        }
    </table>
</div>
