@{
    ViewBag.Title = "Document Verification";
}


@using DeliverLoad;
@model DeliverLoad.Models.UserModel

<style type="text/css">
    .field-validation-error {
        color: Red;
    }

    .heading_message button, .heading_message a {
        border-radius: 20px;
        padding: 8px;
        border: none;
        cursor: pointer;
        vertical-align: top;
        margin: 10px 5px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        background: #B8452E;
        min-width: 80px;
        color: #000;
    }

    .heading_message button, .heading_message a {
        background-color: #e2db06 !important;
        color: #000;
        outline: none !important;
    }
</style>



@{
    var obj = DeliverLoad.Utils.Utils.GetDeliverLoadUser(WebSecurity.CurrentUserName);
    var GetVOIDocument = Model.UserDocuments.Where(x => x.DocTypeId == 2).FirstOrDefault();
    var GetDLDocument = Model.UserDocuments.Where(x => x.DocTypeId == 1).FirstOrDefault();
    var GetAnyIdDocument = Model.UserDocuments.Where(x => x.DocTypeId == 3).FirstOrDefault();

    @Html.HiddenFor(model => model.UserId)
    @*<div class="col-md-2">
            @Html.Partial("_SideMenu")
        </div>*@
    <div class="col-md-12 heading_message">
        <div class="col-md-6 col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Mobile Verification
                    </h3>
                </div>

                <div class="panel-body">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="col-md-2">
                                        @Html.LabelFor(m => m.Mobile)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.IsPhoneVerified == true)
                                        {
                                            <label style="color:green">Verified</label>
                                        }
                                        else
                                        {
                                            <label style="color:red">Not Verified</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-actions" style="float:right;">
                                <button type="button" class="btn btn-success" id="btnUpdate">Update</button>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Email Verification
                    </h3>
                </div>

                <div class="panel-body">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="col-md-2">
                                        @Html.LabelFor(m => m.EmailID)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.IsEmailVerified == true)
                                        {
                                            <label style="color:green">Verified</label>
                                        }
                                        else
                                        {
                                            <label style="color:red">Not Verified</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-actions" style="float:right;">
                                <button type="button" class="btn btn-success" id="btnUpdate">Update</button>

                            </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 heading_message">
        @if (obj.UserType == "M")
        {

            <div class="col-md-6 col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Any Id Verification
                        </h3>
                    </div>

                    <div class="panel-body">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.AnyId)
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })*@
                                            <input type="file" name="AnyId" id="AnyId">

                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.IsAnyIdVerified == true)
                                            {
                                                <label style="color:green">Verified</label>
                                            }
                                            else
                                            {
                                                if (GetAnyIdDocument == null)
                                                {
                                                    <label style="color:red">Not Verified</label>
                                                }
                                                else
                                                {
                                                    <label style="color:blue">Waiting for Approval</label>
                                                }

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-actions" style="float:right;">
                                @if (GetAnyIdDocument != null)
                                {
                                    
                                <a class="btn btn-success" href="/UserDocuments/@GetAnyIdDocument.DocumentImage" download role="button">View Uploaded Document</a>
                                   
                                }
                                <button type="button" class="btn btn-success clsUpload" id="btnAnyIdUpdate">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (obj.UserType == "A")
        {

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Driver License Verification
                        </h3>
                    </div>

                    <div class="panel-body">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.DriverLicense)
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })*@
                                            <input type="file" name="DriverLicense" id="DriverLicense">

                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.IsDriverLicenseVerified == true)
                                            {
                                                <label style="color:green">Verified</label>
                                            }
                                            else
                                            {
                                                if (GetDLDocument == null)
                                                {
                                                    <label style="color:red">Not Verified</label>
                                                }
                                                else
                                                {
                                                    <label style="color: blue">Waiting for Approval</label>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions" style="float:right;">
                                @if (GetDLDocument != null)
                                {<a class="btn btn-success" href="/UserDocuments/@GetDLDocument.DocumentImage" download role="button">View Uploaded Document</a>
                                    @*<button type="button" class="btn btn-success" id="btnDLUploaded">View Uploaded Document</button>*@
                                }
                                <button type="button" class="btn btn-success clsUpload" id="btnDriverLicenseUpdate">Upload</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            VOI Verification
                        </h3>
                    </div>

                    <div class="panel-body">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.VIO)
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })*@
                                            <input type="file" name="VOI" id="VOI">

                                        </div>

                                        <div class="col-md-3">
                                            @if (Model.IsVIOVerified == true)
                                            {
                                                <label style="color:green">Verified</label>
                                            }
                                            else
                                            {
                                                if (GetVOIDocument == null)
                                                {
                                                    <label style="color:red">Not Verified</label>
                                                }
                                                else
                                                {
                                                    <label style="color: blue">Waiting for Approval</label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions" style="float:right;">
                                @if (GetVOIDocument != null)
                                {
                                   <a class="btn btn-success" href="/UserDocuments/@GetVOIDocument.DocumentImage" download role="button">View Uploaded Document</a>
                                    @*<button type="button" class="btn btn-success" id="btnVOIUploaded"><a href="/images/myw3schoolsimage.jpg" download>View Uploaded Document</button>*@
                                }
                                <button type="button" class="btn btn-success clsUpload" id="btnVOIUpdate">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}







<script type="text/javascript">
    $(document).ready(function () {
        var Usertype = '@Model.UserType';
        $("#EmailID").attr("disabled", true);
        $("#btnDriverLicenseUpdate").on("click", function () {
            var form_data = new FormData();
            var DriverLicense_data;
            DriverLicense_data = $("#DriverLicense").prop("files")[0];
            form_data.append("DriverLicense", DriverLicense_data);
            form_data.append("UserId", $('#UserId').val());
            form_data.append("UserType", Usertype);
            $.ajax({
                url: "/Home/DocumentVerification",
                type: "POST",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "Json",
                success: function (data) {
                    location.reload();

                }
            });

        });


        $("#btnVOIUpdate").on("click", function () {

            var VOI_data;
            VOI_data = $("#VOI").prop("files")[0];
            form_data.append("VOI", VOI_data);

            $.ajax({
                url: "/Home/DocumentVerification",
                type: "POST",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "Json",
                success: function (data) {
                    location.reload();
                }
            });

        });
        $("#btnAnyIdUpdate").on("click", function () {

            var form_data = new FormData();


            var AnyId_data;


            AnyId_data = $("#AnyId").prop("files")[0];
            form_data.append("AnyId", AnyId_data);
            form_data.append("UserId", $('#UserId').val());
            form_data.append("UserType", Usertype);
            $.ajax({
                url: "/Home/DocumentVerification",
                type: "POST",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "Json",
                success: function (data) {
                    location.reload();
                    //if (data == "A") {


                    //window.location.href = "@Url.Action("Index", "Vehicleowner")";
                    //}
                    //else {
                    ////// $('.loading').hide();
                    //window.location.href = "@Url.Action("Index", "Loadowner")";
                    //}

                }
            });

        });

        $('#btnCancel').click(function () {
            window.location.href = '/Participant/Index';
        });
    });
</script>