@{
    ViewBag.Title = "Profile Edit";
}


@using CCC;
@model DeliverLoad.Models.UserModel

<style type="text/css">
    .field-validation-error {
        color: Red;
    }
</style>


<div class="col-lg-12">
    @{
        var obj = DeliverLoad.Utils.Utils.GetCCCUser(WebSecurity.CurrentUserName);
        if (obj.UserType == "M")
        {
            <div class="col-md-2">
                @Html.Partial("_SideMenu")
            </div>
        }



        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Profile Edit

                    </h3>
                </div>

                <div class="panel-body">

                    <div class="col-md-12">
                        @using (Html.BeginForm("ProfileEdit", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "profileform" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => model.UserId)
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.ScreenName)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ScreenName, new { @class = "form-control" })


                                        </div>
                                        <div class="col-md-3">
                                            @Html.ValidationMessageFor(model => model.ScreenName)


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.FirstName)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })


                                        </div>
                                        <div class="col-md-3">
                                            @Html.ValidationMessageFor(model => model.FirstName)


                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.LastName)
                                        </div>
                                        <div class="col-md-7">

                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })


                                        </div>
                                        <div class="col-md-3">

                                            @Html.ValidationMessageFor(m => m.LastName)

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.ProfilePicture)

                                        </div>
                                        <div class="col-md-7">

                                            <img src="@Model.ProfilePicture" style="width:80px;height:80px;" />

                                        </div>
                                        <div class="col-md-3">

                                            @Html.ValidationMessageFor(model => model.ProfilePicture)

                                        </div>

                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.ImageUpload)
                                        </div>
                                        <div class="col-md-10">
                                            @*@Html.TextBoxFor(m => m.ImageUpload, new { @type = "file" })*@
                                            <input type="file" name="ImageUpload" id="ImageUpload">

                                        </div>


                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.UserType)

                                        </div>
                                        <div class="col-md-7">

                                            <input type="hidden" id="UserType" value="" />



                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-default" id="lblPresenter">
                                                    <input type="radio" name="Presenter" id="rdbPresenter" value="">Presenter

                                                </label>
                                                <label class="btn btn-default" id="lblParticipant">
                                                    <input type="radio" name="Participant" id="rdbParticipant" value="">Participant
                                                </label>


                                            </div>

                                        </div>
                                        <div class="col-md-3">



                                        </div>

                                    </div>

                                </div>
                            </div>

                            if (obj.UserType == "M")
                            {

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-md-2">
                                                @Html.LabelFor(m => m.Balance)
                                            </div>
                                            <div class="col-md-10">
                                                $@Model.Balance
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            }

                           
                            <div class="form-actions" style="float:right;">
                                <button type="button" class="btn btn-success" id="btnUpdate">Update</button>
                                <button type="button" class="btn btn-default" id="btnCancel">Cancel</button>

                            </div>

                        }
                    </div>


                </div>
            </div>
        </div>

    }

</div>


<script type="text/javascript">
    $(document).ready(function () {
        var Usertype = '@Model.UserType';
        $('#UserType').val(Usertype);
        if (Usertype == "A") {
            $("#lblPresenter").addClass("active");
        }
        else {
            $("#lblParticipant").addClass("active");
        }

        $('#lblPresenter').click(function () {
            $('#UserType').val('A');
        });

        $('#lblParticipant').click(function () {
            $('#UserType').val('M');
        });

        $("#btnUpdate").on("click", function () {

            if ($("#profileform").validate().form()) {
                //$('.loading').show();
                var file_data = $("#ImageUpload").prop("files")[0];

                var form_data = new FormData();
                form_data.append("imageUpload", file_data);
                form_data.append("UserId", $('#UserId').val());
                form_data.append("ScreenName", $('#ScreenName').val());
                form_data.append("FirstName", $('#FirstName').val());
                form_data.append("LastName", $('#LastName').val());
                form_data.append("UserType", $('#UserType').val());
                $.ajax({
                    url: "/Home/ProfileEdit",
                    type: "POST",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "Json",
                    success: function (data) {
                        if (data == "A") {
                           ////// $('.loading').hide();
                            window.location.href = "@Url.Action("Index", "Presenter")";
                        }
                        else {
                           ////// $('.loading').hide();
                            window.location.href = "@Url.Action("Index", "Participant")";
                        }

                    }
                });
            }
        });

        $('#btnCancel').click(function () {
            window.location.href = '/Participant/Index';
        });
    });
</script>