@model IEnumerable<DeliverLoad.Models.PaymentHistoryModel>

@{
    ViewBag.Title = "Payment History";
}

@*<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>*@ 
<div class="col-lg-12">
    @*<div class="col-lg-2">
            @Html.Partial("_SideMenu")
        </div>*@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Payment History
            </h3>
        </div>
        <div class="block">
            <div id="tabs">
                <table class="table table-responsive datatable">
                    <tr class="odd">
                        <th>
                            @*@Html.DisplayNameFor(model => model.Title)*@
                            Transaction id
                        </th>
                        <th>
                            Payment date
                        </th>
                        <th>
                            Payment
                        </th>
                        <th>
                            <center>  Subscription</center>
                        </th>
                        <th>
                            Result
                        </th>
                    </tr>

                    @if (Model != null)
                    {

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Txn_Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Payment_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Payment_Price)
                                </td>
                                <td>
                                    @{
                            string value = item.Is_Success.ToString();
                                    }

                                    @if (value == "False")
                                    {

                                        <center> <label>No</label></center>
                                    }
                                    else if (value == "True")
                                    {
                                        <center>    <label>Yes</label></center>
                                    }

                                </td>
                                <td>
                                    @{
                            string Resultvalue = item.reason_fault.Length > 10 ? item.reason_fault.Substring(0, 10) + "..." : item.reason_fault;
                                    }
                                    <label id="Result" data-toggle="tooltip" data-placement="left" title="@item.reason_fault"> @Html.DisplayFor(model => Resultvalue)</label>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
