@model IEnumerable<CCC.Models.PaymentHistoryModel>

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="col-lg-12">
    <div class="col-lg-2">
        @Html.Partial("_SideMenu")
    </div>
    <div class="col-lg-10">
        <div class="col-md-12">
            <div class="box round">
                <div class="block">
                    <div style="margin: 5px 0 15px 0;">
                        <div id="tabs">
                            <ul class="nav nav-tabs" id="tabControl">
                                <li class="active"><a href="#tabs-1" data-toggle="tab">Payment</a></li>
                                <li><a href="#tabs-2" data-toggle="tab">Payment History</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tabs-1" class="tab-pane fade in active">
                                    <br />
                                    <form id="payForm" method="post" action="@ViewBag.URL">
                                        <input type="hidden" name="cmd" value="_xclick">
                                        <input type="hidden" name="business" value="@System.Configuration.ConfigurationManager.AppSettings["BusinessEmail"]">
                                        @*<input type="hidden" name="item_name" value="">*@
                                        @*<input type="hidden" name="amount" value="15">*@
                                        <input type="hidden" name="no_shipping" value="1">
                                        <input type="hidden" name="return" value="@System.Configuration.ConfigurationManager.AppSettings["ReturnUrl"]">
                                        <input type="hidden" name="rm" value="@ViewBag.rm">
                                        <input type="hidden" name="notify_url" value="@System.Configuration.ConfigurationManager.AppSettings["NotifyUrl"]">
                                        <input type="hidden" name="cancel_return" value="@System.Configuration.ConfigurationManager.AppSettings["CancelPurchaseUrl"]">
                                        <input type="hidden" name="currency_code" value="@System.Configuration.ConfigurationManager.AppSettings["CurrencyCode"]">
                                        @*<input type="hidden" name="custom" value="@System.Configuration.ConfigurationManager.AppSettings["myKey"]">*@

                                        <label class="col-md-3 control-label">Please Enter Recharge Amount:</label>
                                        <div class="col-md-2">
                                            <input type="text" id="amount" name="amount" class="form-control" placeholder="Enter Amount" />
                                        </div>
                                        <br />
                                    </form>
                                    @*<label class="h3">Click the pay button to make a payment of $15</label>*@
                                    <br />
                                    @*onclick="ibPayPal_Click();"*@
                                    <p><input type="image" id="ibPayPal" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online!"  /></p>

                                    @*<a id="lnkTerms" data-toggle="modal" data-target="#myModal" href="javascript:void(0);">Terms and Conditions</a>*@
                                </div>
                                <div id="tabs-2" class="tab-pane fade">
                                    <div>
                                        <br />
                                        @{
                                            Html.RenderPartial("_PaymentHistory", Model);
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTerms" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalTerms">RIGHTS & CONTENT POLICY</h2>
            </div>
            <div class="Terms-body">

            </div>
            <div class="modal-footer">
                
                <label >I agree the terms and Conditions  <input type="checkbox" class="checkbox pull-left" id="chkTerms" /></label>
                <button type="button" class="btn btn-primary" onclick="ibPayPal_Click();">Paypal</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script language="javascript">

    function ibPayPal_Click() {
        var amount = $("#amount").val();
        if (amount != "" && amount != null) {
            if (isNaN(amount)) {
                DisplayNotification('The amount field must be number.', 'error');
            }
            else {
                if ($('#chkTerms').is(':checked') == false) {
                    DisplayNotification("You must agree to the terms and conditions!", 'error');
                }
                else {
                    document.forms['payForm'].submit();
                }
            }
        }
        else {
            DisplayNotification('Please enter amount.', 'error');
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tabControl a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    });
    $('#ibPayPal').click(function () {
        var amount = $("#amount").val();
        if (amount != "" && amount != null) {
            if (isNaN(amount)) {
                DisplayNotification('The amount field must be number.', 'error');
            }
            else {
                $.ajax({
                    url: '/Presenter/RightAndContentPolicy',
                    type: 'Get',
                    dataType: 'HTML',
                    success: function (result) {
                        $(".Terms-body").html(result);
                        $('#myModal').modal('show')
                    },
                    error: function (data) {
                        DisplayNotification('Error', 'error');
                    }
                });
            }
        }
        else {
            DisplayNotification('Please enter amount.', 'error');
        }
    });
</script>



