@model DeliverLoad.Models.CategoryModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Category Details
            @if (Model.HasJoinedCategory)
            {
                <a href="javascript:void(0)" class="pull-right" id="ContentDetailsLink">Content Details</a>
            }
        </h3>

    </div>

    <div class="panel-body">
        @using (Html.BeginForm("JoinCategory", "Participant", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>
                        <table>
                            <tbody>
                                @Html.HiddenFor(model => model.HasJoinedCategory)
                                @Html.HiddenFor(model => model.CategoryId)
                                <tr>
                                    <td>
                                        <img src="@Model.Image" title="Category Image" style="height: 100px" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color: #3695d5; font-size: 20px; ">@Model.Name</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align:justify;">@Model.Description</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (Model.HasJoinedCategory)
                                        {
                                            <button type="submit" class="btn btn-danger">Drop Channel</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary">Join</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>


<script type="text/javascript">
    $('#ContentDetailsLink').click(function () {
        var CategoryId = $('#CategoryId').val();
        window.location.href = '/TreeView/ContentDetails/' + CategoryId;

    });
</script>